
<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGh5WFH8TOIfRKxUrIgJZoDCs1yvQ4hIcppw&s"  alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum a architecto, saepe autem inventore officiis qui eveniet deleniti perspiciatis eum ex aliquid voluptate? Suscipit obcaecati, enim tenetur necessitatibus eum minima.
        </p>

    </div>
</div>